$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

#appBody {
  color: $black;
  font-family: 'Roboto', sans-serif;
  background: #eee;
  height:100%;
}
#root{
    height: 100%;
}
.App {
  font-size: 1.8rem;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

hr {
  border: 0;
  border-top: 1px solid $grey-border;
  margin: 2rem 0;
}
.login-panel{
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    width: 400px;
}
.container{
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 40px 20px;
    .btn{
        margin: 0 auto;
        width: 150px;
        margin-top: 20px;
    }
    .car-section{
        display: inline-block;
        vertical-align: top;
        width: 45%;
        border: 1px solid #e0e0e0;
        cursor: pointer;
        margin: 2%;
        padding: 10px;
        .person{
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            text-align: center;
        }
        .details{
            display: inline-block;
            vertical-align: middle;
            width: 78%;
            line-height: 1.3;
            p{
                font-size: 12px;
                color: #8d9aa4;
                .name{
                    font-size: 18px;
                    font-weight: 600;
                    color: #333;
                    margin-right: 10px;
                }
                .route{
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                }
                .car-type{
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                    margin-right: 10px;
                }
                .star{
                    float: right;
                    color: #1976D2;
                    .icons{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .selected{
        background: #0288D1;
        .details{
            p{
                color:white;
                .name,.route,.car-type{
                    color: white;
                }
            }
        }
    }
}
.hover_marker{
    padding: 8px 10px;
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0;
    transition-delay: 0;
    bottom: 100%;
    left: calc(50% - 200px);
    background-color: white;
    width: 400px;
    .car-section{
        width: 95%;
    }
}
.marker{
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: -20px;
    border-radius: 50%;
    background-color: #D81B60;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    &:hover{
        .hover_marker{
            visibility: visible;
            opacity: 1;
            -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px);
        }
    }
}
.err{
    font-size: 14px;
    color: #F44336;
}
@media (max-width: 600px) {
    .container{
        .car-section{
            width:100%;
        }
    }
    .toggle{
        display: none !important;
    }
}
